.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Ruby
/.bundle
db/development.db
config/environment.yml
public/
.sass-cache
